@{
    //използва css файла от папка shared
    this.Layout = "/Views/Shared/SharedView.cshtml";
    //title на html файла е home
    ViewData["title"] = "HOME";
}

<!-- Това е допълението към html-a -->
<p>
    Prime Holding Project
</p>
